/* INÍCIO LOCALIZAÇÃO */
.localizacao1 {
    display: flex;
    max-width: 1120px;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    padding: 60px 20px;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    visibility: visible;
    box-sizing: border-box;
    transition: all 0s ease 0s;
    transform: none;
}

.localizacao1 h2 {
    font-size: 30px;
    margin: 0px;
    color: rgb(114, 114, 114);
}

.localizacao2 {
    margin-top: 20px;
    width: 100%;
    
}

.localizacao3 {
    font-family: "Helvetica Neue Regular", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

.localizacao4 {
    display: flex;
    text-align: center;

}

.localizacao4 a {
    color: rgb(83, 83, 83);
    text-decoration: none;

}

.localizacao4 {
    color: rgb(114, 114, 114);
}

#loc{
    text-align: left;
    box-sizing: content-box;
    height: 40%;
    padding-left: 15px;
    
}

#loc a{
    font-weight: bold;
}
/* FIM LOCALIZAÇÃO */

/* INÍCIO LOCALIZAÇÃO CUIDADOR */
.loccuidador1{
    display: flex;
    padding: 60px 20px;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.loccuidador1 h2, h3{
    font-family: Muli, Helvetica, Arial, sans-serif;
    font-size: 30px;
    margin: 0px;
    color: rgb(114, 114, 114);
}

.localizacao1 h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.loccuidador1 h3{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


.loccuidador2 {
    margin-top: 20px; 
}

.loccuidador3{
    display: flex;
    text-align: center;
    
}

.loccuidador3 a {
    color: rgb(83, 83, 83);
    font-family: Muli, Helvetica, Arial, sans-serif;
    text-decoration: none;
    

}

#cud{
    text-align: left;
    box-sizing: content-box;
    height: 10%;
    padding-left: 150px;
}
/* FIM LOCALIZAÇÃO */