@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 400;
    src: local('Muli'),
        url('https://assets.wagwalkingweb.com/fonts/muli-v16-latin-regular.woff2') format('woff2'),
        url('https://assets.wagwalkingweb.com/fonts/muli-v16-latin-regular.woff') format('woff');
    font-display: optional;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Muli, Helvetica, Arial, sans-serif;
}

/* FIM PROPRIEDADES GERAIS */


/* INICIO TRUST AND SAFETY --  MIQUÉIAS */


#main{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: normal;
    align-items: center;
    flex-shrink: 1;
    margin: 0px auto 0px auto;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
    visibility: visible;
    box-sizing: border-box;
    transform: none;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1120px;
}


h2{
font-size: 48px;
max-width: 350px;
color: rgb(114, 114, 114);
line-height: 60px;
font-weight: bold;
-webkit-font-smoothing: antialiased;
box-sizing: content-box;
text-indent: 0px;
text-transform: none;
font-style: normal;
white-space: normal;
opacity: 1;
visibility: visible;
max-width: 100%;
margin-bottom: 70px;
}


#main .main2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: normal;
    align-items: flex-start;
    flex-shrink: 1;
    width: 100%;
    visibility: visible;
    box-sizing: border-box;
    transform: none;
    margin-bottom: 20px;
}


#main .bodymain2{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    -webkit-box-align: center;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    margin-bottom: 20px;
    visibility: visible;
    box-sizing: border-box;
    transform: none;
    -webkit-box-pack: center;
}


#main .bodymain2 .img1{
    border-style: none;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    transform: none;
    visibility: visible;
    backface-visibility: hidden;
    margin-bottom: 20px;
    width: 174px;
    height: 174px;
}


#main .bodymain2 .textmain1{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: normal;
    align-items: center;
    flex-shrink: 1;
    -webkit-box-align: center;
    margin-top: 20px;
    margin-bottom: 6px;
    width: 100%;
    visibility: visible;
    box-sizing: content-box;
    transform: none;
}


#main .bodymain2 .textmain1 .textmain2{
    font-size: 30px;
    margin: 0px 0px 0px 0px;
    color: rgb(114, 114, 114);
    text-align: center;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    box-sizing: content-box;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-thickness: none;
    text-decoration-style: none;
    text-decoration-color: none;
    text-indent: 0px;
    text-transform: none;
    font-style: normal;
    white-space: normal;
    opacity: 1;
    visibility: visible;
}


#main .bodymain2 .textmain1 .textmain3{
    font-size: 18px;
    width: 100%;
    max-width: 400px;
    margin: 0px 0px 0px 0px;
    color: rgb(114, 114, 114);
    text-align: center;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
    box-sizing: content-box;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-thickness: none;
    text-decoration-style: none;
    text-decoration-color: none;
    text-indent: 0px;
    text-transform: none;
    font-style: normal;
    white-space: normal;
    opacity: 1;
    visibility: visible;
}